.form-add-contact-container 
{
  margin-top: 50px;
  display: flex;
  width: max-content;
  cursor: pointer;
}

.form-add-contact-container__addIcon 
{
  
}

.form-add-contact-container__addIcon-title
{
  margin: 10px 0 0 10px;
}


.form-add-contact-container__form
{
  display: none;
}