body  
{
	font-family: Arial,sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	text-align:left;
	margin: 0;
}

.header-container, .footer-container
{
	height: 100px;
	background-color: black;
	display: block;
	width: 100%;
	font-size: 30px;
}
.footer-container 
{
	position: absolute;
	bottom: 0;
	font-size: initial;
}

.header-container__appName, .footer-container__content
{
	padding-top: 25px;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.body-container 
{
	margin: 50px 150px 0;
}

.body-container__title
{
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
}