.form-add-contact-container__addIcon
{
  height:40px; 
  width:40px; 
  display:block; 
  position:relative;
} 

.addIcon
{
  border-radius:50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px; 
  border:4px solid #333; 
  width:32px; 
  height:32px;
}

.addIcon:before, .addIcon:after
{
  content:''; 
  height:4px; 
  width:24px; 
  display:block; 
  background:#333; 
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px; 
  position:absolute; 
  top:14px; 
  left:4px;
}

.addIcon:after
{
  height:24px; 
  width:4px; 
  top:4px; 
  left:14px;
}


.button-base {
  display: inline-block;
  cursor: pointer;
  position: relative;
  background: none;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid black;
  padding: 0.5em 1em;
}

.button-base::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.button-base::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: white;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.button-base:hover::before {
  right: 80%;
}

.button-base:hover::after {
  left: 80%;
}