.view-contact-container-title 
{
	width: 50%;
	margin: 0 auto;
}

.view-contact-container-title__row 
{
	display: inline-block;
}

.view-contact-container-title__row:nth-child(1) 
{
	margin-left:30px;
}

.view-contact-container-title__row:nth-child(2) 
{
	margin-left:130px;
}

.view-contact-container-title__row:nth-child(3) 
{
	margin-left:110px;
}

.view-contact-container-title__row:nth-child(4) 
{
	margin-left:65px;
}


.view-contact-container-content
{
	text-align: center;
}