<div class="form-add-contact-container">

	<div class="form-add-contact-container__addIcon addIcon" id="add-contact"></div>
	<div class="form-add-contact-container__addIcon-title">Ajouter un contact</div>

</div>

<div class="form-add-contact-container__form" id="add-form">test</div>