{# templates/Contact/index.html.twig #}

{% extends "base.html.twig" %}

{% block body %}
	{{ render(controller('App\\Controller\\ContactController::add')) }}
	<div class="view-contact-container-content">
	{{ render(controller('App\\Controller\\ContactController::view')) }}
	</div>
{% endblock %}